*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.firstnav{
    background-color:rgba(57,131,120,255);
    display: flex;
    height: 70px;
    width: 100%;
}
.list1{
    display: flex;
    gap: 70px;
    list-style: none;
    justify-content: first baseline;
}
.items{
    text-align: center;
    width: 100px;
    height: 100px;
    color: white;
    margin-top: 25px;
    margin-bottom: 25px ;
    font-size: larger;
}
a:hover{
    color: black;
}
a{
    color: white;
    text-decoration: none;
}
.marq{
    height: 25px;
    font-size: larger;
    color: black;
}
.div1{
    position: relative;
    margin: 0px;
    
}
.imgtext{
    position: absolute;
    top: 500px;
    left: 600px;
    font-size: xx-large;
    color: line;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: darkgoldenrod ;
}

